/* You can add global styles to this file, and also import other style files */


/* Example: Override PrimeNG button styles */
.p-button {
    font-size: 14px;
    border-radius: 8px;
  }
  
  /* Example: Adjust Bootstrap grid for PrimeNG */
  .container {
    max-width: 1200px;
  }
  

  body, app-root {
    background-color: #F7F7F7 !important;


  }
  
  
.data-table-container .table-header th {
  background-color: #24AFA1A8;
  color: white !important;

}

.p-button.p-button-custom-success {
  color: #ffffff !important; 
  background-color: #24AFA1A8 !important;
  border: 1px solid #24AFA1A8 !important; 
}


.p-button.p-button-custom-success:hover {
  background-color: #24AFA1A8 !important;
  border-color: #24AFA1A8 !important; 
  
}


.root{
  --color-primary:24AFA1A8,

}