
   <div class="sidebar" [class.collapsed]="isCollapsed">

    <div class="sidebar-header">
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="pi pi-bars"></i> 
      </button>
    </div>
  

    <ul class="sidebar-menu">
      <li [class.active]="activeRoute === '/dashboard'">
        <a routerLink="/dashboard" (click)="setActive('/dashboard')">
          <i class="pi pi-th-large"></i>
          @if (!isCollapsed) { <span>Dashboard</span> }
        </a>
      </li>
      <li [class.active]="activeRoute === '/user-roles'">
        <a routerLink="/user-roles" (click)="setActive('/user-roles')">
          <i class="pi pi-user"></i>
          @if (!isCollapsed) { <span>User Roles</span> }
        </a>
      </li>
      <li [class.active]="activeRoute === '/zone-management'">
        <a routerLink="/zone-management" (click)="setActive('/zone-management')">
          <i class="pi pi-map-marker"></i>
          @if (!isCollapsed) { <span>Zone Management</span> }
        </a>
      </li>
      <li [class.active]="activeRoute === '/dealer-management'">
        <a routerLink="/dealer-management" (click)="setActive('/dealer-management')">
            <i class="pi pi-briefcase"></i> 
          @if (!isCollapsed) { <span>Dealer Management</span> }
        </a>
      </li>
      <li [class.active]="activeRoute === '/document-upload'">
        <a routerLink="/document-upload" (click)="setActive('/document-upload')">
          <i class="pi pi-file"></i>
          @if (!isCollapsed) { <span>Document Upload</span> }
        </a>
      </li>
    </ul>
  </div>
  